# General settings
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=*,127.0.0.1

# Database
DATABASE_URL=postgres://dbuser:dbpass@localhost:port/mydb
# SQLite
# DATABASE_URL=sqlite:///mydb.db

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

PROJECT_NAME_HEADER=Name Project
PROJECT_NAME_TITLE=Name Project

# Herramientas de desarrollo.
ACTIVAR_HERRAMIENTAS_DEBUGGING=True

# API Dolar URL
API_DOLAR_URL=https://www.dolarsi.com/api/api.php?type=valoresprincipales